.cost__inner {
  margin-right: 10px;
  padding-right: 10px;
  width: 300px;
}

.cost__title {
  margin-bottom: 57px;

  color: rgb(0, 0, 0);
  font-size: 18px;
  text-transform: uppercase;
}

.cost__range {
  margin-bottom: 60px;

  min-height: 130px;
}

.cost__range-controll {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  margin-bottom: 14px;

  min-height: 80px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.cost__range-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    font-size: 16px;
    text-transform: uppercase;
  }


  input {
    max-width: 80px;
    height: 40px;

    font-family: inherit;
    font-weight: lighter;
    text-align: center;

    background-color: #eeeeee;
    border: 0;
    border-radius: 3px;
  }
}

.cost__layout-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  height: 105px;
}

.cost__layout-item {
  display: flex;
  align-items: center;

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cost__radio {
  display: block;

  margin-right: 10px;

  width: 9px;
  height: 9px;

  background-color:  #b8b8b8;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 6px #b8b8b8;
}
