.page-header {
  &--bg-gray {
    background-color: $gray;
  }
}

.page-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  min-height: 116px;

  background-color: $gray;
}

.page-header__link {
  display: flex;
  align-items: flex-end;

  width: 300px;
  height: 114px;
}

.page-header__title {
  display: flex;
  align-items: center;

  min-height: 245px;
  font-size: 55px;
}
